.title,
.welcome-back {
  position: relative;
  line-height: 100%;
}
.welcome-back {
  width: 120px;
  display: none;
}
.title {
  font-size: var(--heading-size);
  font-weight: 600;
  color: var(--foreground-high);
}
.title-frame {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
}
.icongoogle-original {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button,
.login-now {
  display: flex;
  align-items: center;
}
.login-now {
  height: 16px;
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.button {
  height: 48px;
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--container-primary-low);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 125px;
}
.iconfacebook-original {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.login-now1 {
  height: 16px;
  position: relative;
  line-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.button-parent,
.button1 {
  display: flex;
  flex-direction: row;
}
.button1 {
  height: 48px;
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--container-primary-low);
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 125px;
}
.button-parent {
  width: 400px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.frame-parent,
.or {
  align-items: center;
  max-width: 100%;
}
.or {
  align-self: stretch;
  height: 16px;
  position: relative;
  line-height: 100%;
  font-weight: 600;
  color: var(--foreground-low);
  text-align: center;
  display: flex;
  justify-content: center;
}
.frame-parent {
  width: 400px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--foreground-primary);
}
.email {
  height: 16px;
  flex: 1;
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
  display: inline-block;
  max-width: 100%;
}
.email-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.context {
  height: 14px;
  flex: 1;
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 220px;
  max-width: 100%;
  white-space: nowrap;
}
.iconeye {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.iconeye-wrapper {
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.frame-container,
.input-text,
.input-text-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.input-text {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 3px solid var(--outline-primary);
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-xs) var(--padding-lgi) var(--padding-xs)
    var(--padding-base);
  gap: var(--gap-8xs);
  min-height: 51px;
  flex-shrink: 0;
}
.frame-container,
.input-text-wrapper {
  align-items: flex-start;
}
.input-text-wrapper {
  align-self: stretch;
  height: 48px;
  flex-direction: row;
  font-size: var(--body-medium-regular-size);
  color: var(--foreground-low);
}
.frame-container {
  width: 400px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.forgot,
.password {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
}
.password {
  height: 16px;
  flex: 1;
  display: inline-block;
  max-width: 100%;
}
.forgot {
  width: 68px;
  color: var(--foreground-primary);
  text-align: right;
  display: none;
}
.password-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.context1 {
  height: 14px;
  flex: 1;
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 220px;
  max-width: 100%;
}
.iconeye1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconeye-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.frame-div,
.input,
.input-text1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.input-text1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--outline-default);
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-xs) var(--padding-mid) var(--padding-xs)
    var(--padding-mini);
  gap: var(--gap-8xs);
}
.frame-div,
.input {
  flex-direction: column;
  align-items: flex-start;
}
.input {
  align-self: stretch;
  font-size: var(--body-medium-regular-size);
  color: var(--foreground-low);
}
.frame-div {
  width: 400px;
  gap: var(--gap-xs);
}
.login-now2 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.button2,
.frame-group {
  width: 400px;
  max-width: 100%;
}
.button2 {
  height: 48px;
  border-radius: var(--br-5xs);
  background-color: var(--container-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
  white-space: nowrap;
  color: var(--foreground-oncolor);
}
.frame-group {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--foreground-default);
}
.already-have-an,
.log-in {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
  align-items: center;
}
.already-have-an {
  width: 200px;
  display: none;
}
.log-in {
  flex: 1;
  color: var(--foreground-primary);
  display: flex;
  white-space: nowrap;
}
.already-have-an-account-parent {
  width: 47px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.form,
.form-inner {
  align-items: center;
  max-width: 100%;
}
.form-inner {
  height: 16px;
  width: 400px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--foreground-low);
}
.form {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--background-mode);
  box-shadow: 20px 40px 60px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-29xl);
  gap: var(--gap-13xl);
}
.slice-set,
.slice-set1 {
  height: 100px;
  width: 100px;
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.slice-set {
  right: 117px;
  bottom: 6px;
}
.slice-set1 {
  bottom: 7px;
  left: 77px;
}
.form-parent,
.log-in-dark-mode {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-parent {
  width: 540px;
  align-items: center;
  max-width: 100%;
}
.log-in-dark-mode {
  width: 100%;
  background-color: var(--color-gray-400);
  overflow: hidden;
  align-items: flex-end;
  padding: 403px var(--padding-xl) 373px;
  box-sizing: border-box;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-large-regular-size);
  color: var(--color-dimgray-100);
  font-family: var(--body-large-regular);
}
@media screen and (max-width: 550px) {
  .form {
    gap: var(--gap-base);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--font-size-3xl);
    line-height: 22px;
  }
  .input-text-wrapper {
    height: auto;
  }
}
