body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-large-regular: Poppins;
  --font-inter: Inter;
  --font-roboto: Roboto;

  /* font sizes */
  --body-large-regular-size: 16px;
  --body-medium-regular-size: 14px;
  --heading-size: 28px;
  --font-size-3xl: 22px;
  --font-size-mini: 15px;
  --font-size-2xs: 11px;
  --font-size-xs: 12px;

  /* Colors */
  --foreground-oncolor: #fcfcfc;
  --foreground-high: #fafafa;
  --color-gray-100: #777;
  --container-primary-low: #26272b;
  --color-gray-200: #1c1d1e;
  --color-gray-400: #0a0a0a;
  --color-gray-300: rgba(0, 0, 0, 0.5);
  --background-mode: rgba(19, 19, 22, 0.8);
  --color-silver-100: #c9c9c9;
  --color-silver-200: rgba(186, 186, 186, 0.5);
  --foreground-primary: #a0a0ab;
  --color-darkgray-100: #9b9b9b;
  --foreground-low: #70707b;
  --color-dimgray-100: #5a5a5d;
  --container-primary: #1570ef;
  --color-darkslategray-100: #454545;
  --outline-default: #3f3f46;
  --color-darkslategray-200: #373737;
  --color-darkslategray-300: #323232;
  --color-darkslategray-400: #313131;
  --foreground-default: #d1d1d6;
  --outline-primary: #194185;
  --color-dodgerblue: #618aff;
  --color-mediumslateblue: #4770ff;
  --color-white: #fff;
  --color-palegoldenrod: #fdefae;
  --color-aliceblue: #e7f0ff;
  --color-mistyrose: #ffe9e9;
  --color-powderblue: #c7ebe8;
  --color-lightsteelblue: #ccccf7;
  --color-lavender: #eee8ff;
  --color-peachpuff: #ffd5b4;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-8xs: 5px;
  --gap-xl: 20px;
  --gap-9xs: 4px;
  --gap-7xl: 26px;
  --gap-166xs: -153px;
  --gap-48xs: -35px;
  --gap-174xs: -161px;
  --gap-82xs: -69px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-29xl: 48px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-mid: 17px;
  --padding-mini: 15px;
  --padding-lgi: 19px;
  --padding-16xl: 35px;
  --padding-12xl: 31px;
  --padding-smi: 13px;
  --padding-sm: 14px;
  --padding-3xs: 10px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-79xl: 98px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-3xs: 10px;

  /* Effects */
  --button-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
